/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Green 
COLOR CODE: #333
----------------------------------------- */

/* text selection color */
*::-moz-selection {
	background-color: #333;
} 
::selection {
	background-color: #333;
}
/* background-color-transparent */
.bg-theme-colored-transparent {
	background-color: rgba(114,162,48,0.7) !important;
}
.post .entry-meta.meta-absolute {
	background: rgba(114,162,48,0.9) none repeat scroll 0 0;
}
.about-icon:hover .icon {
	box-shadow: 0 0 0 6px rgba(114,162,48,0.4);
}
.header .navbar-dark {
	background-color: rgba(114,162,48,0.95);
}
/* Layeroverlay */
.layer-overlay.overlay-green::before {
	background-color: rgba(114,162,48,0.9);
}
/* background-color */
.btn-colored.btn-theme-colored {
	background: #333!important;
}
.title-icon::before {
	background: #333 none repeat scroll 0 0;
}
.title-icon::after {
	background: #333 none repeat scroll 0 0;
}
.menuzord.green .menuzord-menu > li.active > a, 
.menuzord.green .menuzord-menu > li:hover > a, 
.menuzord.green .menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover {
	background: #333;
}
.panel-title a.active::after {
    background: #333;
}
.pagination li a:hover,
.pagination li:hover a,
.pagination li.active a,
.pagination li.active a:hover {
	background: none repeat scroll 0 0 #333;
}
 .masonry-items .masonry-item:hover .overlay i {
	background: #333 none repeat scroll 0 0;
}
.sidebar .search-form .search-button {
	background: #333 none repeat scroll 0 0;
}
.sidebar-widget .tags a:hover {
	background: #333 none repeat scroll 0 0;
}
.schedule-tab .nav-tabs li.active a {
	background: #333;
}
.cd-timeline-block:hover .cd-timeline-img {
	background: #333;
}
.progress-item .progress-bar {
	background: #333;
}
.social-icons.icon-theme-colored a {
	background: #333;
}
.social-icons.icon-theme-colored a:hover {
	background: #333;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #333;
}
.footer .social-icons li a:hover {
	background: #333;
}
.btn-colored.btn-theme-colored:hover {
	background: #58891d !important;
}
.cssload-loading i {
	background: #333;
}
.bg-theme-colored {
	background-color: #333 !important;
}
.about-icon .icon {
	background-color: #333;
}
.post .entry-content .entry-date {
	background-color: #333;
}
.team-member .social-icons {
    background-color: #333;
}
.schedule-box .thumb .overlay a:hover i {
	background-color: #333;
}
.table-schedule thead tr {
	background-color:  #333;
}
.zeus .tp-bullet::after {
	background-color: #333;
}
.footer .footer-widget .social-icons li a:hover {
	background-color: #333;
}
/* text color */
.text-theme-colored {
	color: #333 !important;
}
ul.list li:before {
	color: #D0A44C;
}
.list-default li i {
	color: #333;
}
.btn-default.btn-theme-colored {
	color: #333!important;
}
.section-title .sub-title {
	color: #333;
}
.title-icon [class^="flaticon-"]::after, 
.title-icon [class^="flaticon-"]::before {
	color: #333;
}
.funfact .animate-number {
	color: #333;
}
.pricing-table .table-price {
	color: #333;
}
.pricing-table .table-list i {
	color: #333;
}
.horizontal-tab-centered .nav-pills > li > a:hover i, 
.horizontal-tab-centered .nav-pills > li.active > a i, 
.horizontal-tab-centered .nav-pills > li.active > a:hover i, 
.horizontal-tab-centered .nav-pills > li.active > a:focus i {
	color: #333; 
}
.testimonial-carousel .content .author {
	color: #333;
}
.twitter-widget .twitter-feed li::after {
	color: #333;
}
.single-post .comment-list .comment-heading {
	color: #333;
}
.sidebar-widget .text-widget.address li i {
	color: #333;
}
.about-icon .title a {
	color: #333;
}
.team-member .author a {
	color: #333;
}
.schedule-tab .nav-tabs li a {
	color: #333;
}
.cd-timeline-img i {
	color: #333;
}
.cd-timeline-content:hover .timeline-title {
	color: #333;
}
.cd-timeline-meta i {
	color: #333 ;
}
.schedule-box:hover .schedule-details .title a {
	color: #333;
}
.table-schedule tbody tr td .name {
	color: #333;
}
.event-facilities .overlay .title {
	color: #333;
}
.footer-contact-form .btn:hover {
	color: #333 !important;
}
.footer .footer-widget ul li a:hover,
.footer .footer-widget ul li a:hover i,
.footer .footer-widget  a.post-title:hover {
	color: #333 !important;
}
/* border-color */
.btn-colored.btn-theme-colored {
	border: 2px solid #333 !important;
}
.btn-default.btn-theme-colored {
	border: 2px solid #333 !important;
}
.line-bottom:after {
	border: 1px solid #333;
}
.pagination li a:hover,
.pagination li:hover a,
.pagination li.active a,
.pagination li.active a:hover {
	border: 1px solid #333;
}
.progress-item .progress-bar .percent {
	border: 2px solid #333;
}
.owl-theme .owl-dots .owl-dot span {
	border: 2px solid #333;
}
.footer .footer-widget .line-bottom:after {
	border: 1px solid #333;
}
 .booking-form .form-control:focus, 
 .booking-form form select:focus, 
 .booking-form form textarea:focus {
 	border-color: #333;
 }
.event:hover {
	border-color: #333;
}
.schedule-tab .nav-tabs li.active a:after {
	border-color: #333 transparent;
}
.cd-timeline-block:hover .cd-timeline-content {
	border-color: #333;
}
.cd-timeline-block:hover .cd-timeline-content::before {
	border-color: transparent #333 transparent transparent;
}
.footer .social-icons li a:hover {
	border-color: #333;
}
/* border-left-color */
blockquote {
	border-left: 3px solid #333;
}
/* border-top-color */
.menuzord.green .menuzord-menu > li.active > a, 
.menuzord.green .menuzord-menu > li:hover > a {
  border-top-color: #333;
}
.menuzord .menuzord-menu ul.dropdown, .menuzord .menuzord-menu .megamenu {
	border-top: 3px solid #333;
}
/* border-right-color */
.border-right-green {
	border-right: 1px solid #333;
}
/* border-bottom-color */
.border-bottom {
	border-bottom: 1px solid #333;
}
.event {
	border-bottom-color: #333;
}
.schedule-box:hover .schedule-details {
	border-bottom: 1px solid #333;
}
/* box-shadow */